<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <h1>Login</h1>

  <div class="error" *ngIf="error">
    <span>Datos incorrectos o algún error ocurrió. Intente nuevamente</span>
  </div>
  <mat-form-field>
    <input 
    matInput
    placeholder="Username" 
    type="email" 
    required="" 
    name="username"
    id="username"
    ngModel
    email>
  </mat-form-field>
  <mat-form-field>
    <input
    matInput
    placeholder="Password" 
    type="password" 
    required="" 
    name="password"
    id="password"
    ngModel>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Submit</button>

</form>