<mat-card *ngIf="data">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-content>
        <h2>{{data.first_name}} {{data.last_name}}</h2>
        <p>Email: {{data.email}}</p>
        <p>Birthday: {{data.profile.birthday | date:short}}</p>
        <hr>
        <h3>Contact</h3>
        <p>Street: {{data.profile.contact.street}}</p>
        <p>State: {{data.profile.contact.state}}</p>
        <p>Country: {{data.profile.contact.country}}</p>
        <p>City: {{data.profile.contact.city}}</p>
        <p>Zip: {{data.profile.contact.zip}}</p>
        <p>Phone: {{data.profile.contact.phone}}</p>
        <hr>
        <h3>Courses</h3>
        <mat-nav-list flex>
            <a mat-list-item routerLink="/courses/{{item.id}}" *ngFor="let item of data.courses; let i = index">
              <h4 matLine class="cursor-pointer"> {{item.title}}  </h4>
              <p matLine class="cursor-pointer"> {{item.short_description}}  </p>
            </a>
        </mat-nav-list>
    </mat-card-content>
</mat-card>

