<mat-card *ngIf="this.data">
    <mat-card-title>{{this.title}}</mat-card-title>
    <mat-card-content>
        <h2>{{this.data.first_name}} {{this.data.last_name}}</h2>
        <p>Email: {{this.data.email}}</p>
        <p>Birthday: {{this.data.profile.birthday | date:short}}</p>
        <hr>
        <h3>Contact</h3>
        <p>Street: {{this.data.profile.contact.street}}</p>
        <p>State: {{this.data.profile.contact.state}}</p>
        <p>Country: {{this.data.profile.contact.country}}</p>
        <p>City: {{this.data.profile.contact.city}}</p>
        <p>Zip: {{this.data.profile.contact.zip}}</p>
        <p>Phone: {{this.data.profile.contact.phone}}</p>
        <hr>

    </mat-card-content>
</mat-card>

