<header>
  <mat-toolbar>
    <a class="links title" routerLink="" routerLinkActive="active">My Courses</a>
    <a class="links" routerLink="/cursos" routerLinkActive="active">Cursos</a>
    <a class="links" routerLink="/alumnos" routerLinkActive="active">Alumnos</a>
    <a class="links" routerLink="/profesores" routerLinkActive="active">Profesores</a>
    <form class="form">
      <mat-form-field class="search-input">
        <input matInput type="search" placeholder="Búsqueda" name="searchInput" [(ngModel)]="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Búsqueda" (click)="goToSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="user-group" *ngIf="isLogged">
        <mat-menu #notificationsList="matMenu">
          <ul class="notifications"  *ngIf="notifications.length > 0">
            <li (click)="read(alert)" class="notification" [ngClass]="{'unread': !alert.leido}" *ngFor="let alert of notifications"><a>De: {{alert.from}}</a></li>
          </ul>
        </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="notificationsList" class="user-item">
        <mat-icon matBadge="{{contador}}" *ngIf="notifications.length > 0">notifications</mat-icon>
        <mat-icon *ngIf="notifications.length === 0">notifications</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item routerLink="/account"> Account </button>
        <button mat-menu-item (click)="logout()"> LogOut </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="user-item"><mat-icon>account_circle</mat-icon></button>
    </div>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>
