<mat-card *ngIf="this.course">
    <mat-card-title>Course Detail</mat-card-title>
    <mat-card-content>
        <h2>{{this.course.title}}</h2>
        <p>{{this.course.short_description}}</p>
        <hr>
        <p>{{this.course.detail}}</p>
        <hr>
        <p>Active:
                <mat-icon *ngIf="this.course.active">check</mat-icon>
                <mat-icon *ngIf="!this.course.active">cancel</mat-icon>
        </p>
        <hr>
        <div *ngIf="this.course.active">
            <h3>Teacher:</h3>
            <p>{{this.course.teacherDetails.last_name}}, {{this.course.teacherDetails.first_name}}</p>
        </div>
        <hr *ngIf="this.course.active">
        <!--<div *ngIf="this.course.active">
            <h3>Students:</h3>
            <div tdMediaToggle="gt-xs" [mediaClasses]="['push-md']">
                <mat-card>
                  <mat-nav-list flex>
                      <a mat-list-item *ngFor="let item of this.course.studentsDetails; let i = index">
                        <img matListAvatar src="https://api.adorable.io/avatars/285/{{i}}@adorable.io.png" />
                        <h4 matLine class="cursor-pointer"> {{item.first_name}} {{item.last_name}} </h4>
                        <span flex="100" class="mat-caption tc-grey-600">{{item.email}}</span>
                      </a>
                  </mat-nav-list>
                </mat-card>
              </div>
        </div>-->
    </mat-card-content>
</mat-card>

