<mat-card *ngIf="course">
    <mat-card-title>Course Detail</mat-card-title>
    <mat-card-content>
        <h2>{{course.title}}</h2>
        <p>{{course.short_description}}</p>
        <hr>
        <p>{{course.detail}}</p>
        <hr>
        <p>Active:
                <mat-icon *ngIf="course.active">check</mat-icon>
                <mat-icon *ngIf="!course.active">cancel</mat-icon>
        </p>
        <hr>
        <div *ngIf="course.active">
            <h3>Teacher:</h3>
            <p>{{course.teacherDetails.last_name}}, {{course.teacherDetails.first_name}}</p>
        </div>
        <hr *ngIf="course.active">
        <div *ngIf="course.active">
            <h3>Students:</h3>
            <div tdMediaToggle="gt-xs" [mediaClasses]="['push-md']">
                        <gl-list
                            [list]=students
                            path='students'>
                        </gl-list>
              </div>
        </div>
    </mat-card-content>
</mat-card>

