<div tdMediaToggle="gt-xs" [mediaClasses]="['push-md']">
  <mat-card>
    <mat-nav-list flex>

        <a mat-list-item routerLink="/teachers/{{item.id}}" *ngFor="let item of teachers | async; let i = index">
          <img matListAvatar src="https://api.adorable.io/avatars/285/{{i}}@adorable.io.png" />
          <h4 matLine class="cursor-pointer"> {{item.first_name}} {{item.last_name}} </h4>
          <span flex="100" class="mat-caption tc-grey-600">{{item.email}}</span>

          <!---<button mat-icon-button matTooltip="Edit contact"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button matTooltip="More actions"><mat-icon>more_vert</mat-icon></button>-->
        </a>

    </mat-nav-list>
  </mat-card>
</div>
